{% if use_sealed_secrets %}apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ project_name }}-secrets
  namespace: {{ namespace }}
spec:
  encryptedData:
    # Generate with: kubectl create secret generic {{ project_name }}-secrets \
    #   --from-literal=KEY=VALUE --dry-run=client -o yaml | kubeseal -o yaml
    example-key: AgBx...
  template:
    metadata:
      name: {{ project_name }}-secrets
      namespace: {{ namespace }}
    type: Opaque
{% endif %}
