{% if service_type != 'None' %}apiVersion: v1
kind: Service
metadata:
  name: {{ project_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ project_name }}
spec:
  type: {{ service_type }}
  {% if app_type == 'stateful' %}
  clusterIP: None  # Headless service for StatefulSet
  {% endif %}
  ports:
    - port: {{ service_port }}
      targetPort: {{ container_port }}
      protocol: TCP
      name: http
  selector:
    app: {{ project_name }}
{% endif %}