{% if create_environments %}apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ namespace }}-staging

resources:
  - ../../base

namePrefix: staging-

commonLabels:
  environment: staging

{% if app_type in ['stateless', 'stateful'] %}
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: {% if app_type == 'stateless' %}Deployment{% else %}StatefulSet{% endif %}
{% endif %}
{% endif %}